# Environment-based settings; copy this file to .env in project root and edit as needed

# Whether the application runs in debug mode or not
DEBUG=True

# Set a unique secret key for the project, required for running outside DEBUG mode
SECRET_KEY=Ensure_you_set_a_secret_key_this_is_important!

# Ports for docker web container
LOCAL_PORT=8000

# Database details for postgres container
DB_NAME=db
DB_USER=postgres
DB_PASSWD=secret
DB_PORT=5432

# Database URL to use in develop
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWD}@127.0.0.1:${DB_PORT}/${DB_NAME}

# Allowed hosts (list of comma-separated hostnames, or asterisk to match all hosts), only needed if DEBUG is false
ALLOWED_HOSTS=127.0.0.1

# Static files (CSS, JavaScript, Images) directories
STATIC_ROOT=staticfiles
MEDIA_ROOT=media
